<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bits.jobhunt">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.JobHunt"
        android:usesCleartextTraffic="true">

        <activity android:name=".edit_profileActivity"></activity>
        <activity android:name=".UserPersona"></activity>
        <activity android:name=".SavedJobsDetails_activity"></activity>
        <activity android:name=".AppliedJobsDetails"></activity>
        <activity android:name=".adminJob_Details"></activity>
        <activity android:name=".Job_Details" />
        <activity android:name=".UserActivity" />
        <activity android:name=".AdminActivity" />
        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LogInActivity" />
    </application>

</manifest>